@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@300;400&family=Yeon+Sung&display=swap');

#root {
  display: flex;
  flex-direction: column;
  width: 1920px;
  align-items: center;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 0px;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 110vh; /* 뷰포트의 높이로 설정 */
  margin: 0px;
  padding: 0px;
  
}

.body-container {
  flex: 1;  /* 가능한 모든 공간을 차지하도록 설정 */
  overflow-y: auto; 
  /* 내용이 넘칠 경우 스크롤 허용 */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
