@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@300;400&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@300;400&family=Syne:wght@400;500;600;700;800&family=Yeon+Sung&display=swap');

#root {
  display: flex;
  flex-direction: column;
  width: 1920px;
  align-items: center;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 0px;
  text-align: center;
}