@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@300;400&family=Yeon+Sung&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}